<%- include('./../partials/adminHeader') %>

<div class="container">
  <div class="jumbotron">
    <h2>Wellcome to <span style="color: #024d91">b-logic Agrovet Ltd</span></h2>
  </div>
</div>

<%- include('./../partials/adminFooter') %>
