<!-- footer start -->
<footer class="main-footer overlay-black">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer-about-col col-default">
          <h4 id="companyName"></h4>
          <div class="heading-under-line"></div>
          <p id="footerInfo">
          </p>
          
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer-link-col col-default clearfix">
          <h4>Important links</h4>
          <div class="heading-under-line"></div>
          <ul>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer-timetable col-default">
          <!-- <h4>Socials</h4>
          <div class="heading-under-line"></div> -->
          <ul class="about-info">
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <p id="showAddress1"></p>
            </li>
            <li >
              <i class="fa fa-phone" aria-hidden="true"></i>
              <p id="showPhoneNumber"></p>
            </li>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <p id="showEmailAddress"></p>
            </li>
          </ul>
          <ul  class="social">
            <li>
              <a id="facebookValue" target="_blank" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a id="twitterValue" target="_blank" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a id="linkdinValue" target="_blank" href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li>
              <a id="youtubeValue" target="_blank" href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Copyright start from here -->
<div class="copyright">
  <div class="row">
    <div class="col-md-12">
      <div class="copyright-col text-center">
        <p>
          Copyright ©2021
          <a href="#" target="_blank">b-Logic Agrovet Ltd</a>
          All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</div>


    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- All Included JavaScript -->
    <script src="js/bootstrap-dropdownhover.min.js"></script>
    <script src="js/jquery-scrolltofixed-min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.countup.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/dyscrollup.js"></script>
    <script src="js/VideoPlayerPopUp.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <script src="js/animated-text.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/jquery.toast.js"></script>

    <!-- Custom Js -->
    <script src="js/main.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
