<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>B-Logic Agrovet LTD</title>

    <!-- Favicon -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png" />

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <!-- // toast  -->
    <link rel="stylesheet" href="css/jquery.toast.min.css">


    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet" />

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet" />

    <!-- Modify Custom Css  -->
    <link rel="stylesheet" href="css/custom.css" />
  </head>

  <body>
    <!-- Preloader -->
    <div id="preloader"></div>
    <!-- Main Header start -->
    <header class="main-herader" id='index'>
      <!-- Header navbar start -->
      <div class="header-navbar fixed-header">
        <div class="container">
          <nav>
            <a href=""><img class="logo-img" src="images/logo.png" alt="" /></a>
            <ul class="menu-wrapper">
              <li><a href="#index">Home</a></li>
              <li><a href="#companyInfo">company profile</a></li>
              <li><a href="#products">our products</a></li>
              <li><a href="#appointment">contact us</a></li>
            </ul>
            <a href="#" class="ctx">Email portal</a>
            <!-- Side drawer  -->
            <div class="mobile-menu">
            <span onclick="openNav()" class="hambargur-icon">&#9776</span>
            <div  id='mobile-nav' class="mobile-menu-items">
              <span  title="Close SideBar" class="closeBtn" onclick="closeNav()">&times</span>
              <div class="side-drawer-items">
                <a onclick="closeNav()" href="#index">Home</a>
                <a onclick="closeNav()" href="#companyInfo">company profile</a>
                <a onclick="closeNav()" href="#products">our products</a>
                <a onclick="closeNav()" href="#appointment">contact us</a>
              </div>
            </div>
          </div>
          </nav>
           
        </div>
      </div>
    </header>
  </body>
</html>
