<!-- Main Header start -->
<%- include('./partials/header') %>

<!-- Banner stant -->
<section class="banner-area overlay-white">
  <div class="section-style"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="banner-col">
          <!-- <div class="banner-carousel"> -->
          <div class="banner-carousel-custom"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="banner-col">
          <img src="" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About start -->
<section id="companyInfo" class="about-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="about-col">
          <div class="about-title">
            <h2>Welcome to our <span>b-logic agrovet ltd</span></h2>
            <h4>More than 1 years of experience</h4>
          </div>
          <p>
            Suspendisse tincidunt lobortis enim quis porta. Vestibulum placerat
            blandit arcu. Morbi euismod interdum elit, ut aliquam enim bibendum
            vel. Nulla rutrum faucibus iaculis. Pellentesque eu vehicula dolor.
          </p>
          <div class="row">
            <div class="col-sm-6">
              <div class="about-info-box">
                <div class="about-icon">
                  <i class="flaticon-cardiogram-1"></i>
                </div>
                <h3>medical treatment</h3>
                <p>
                  It is a long established fact that a reader will be iaculis
                  distracted.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="about-info-box">
                <div class="about-icon">
                  <i class="flaticon-blood-sample-1"></i>
                </div>
                <h3>Own Lab</h3>
                <p>
                  It is a long established fact that a reader will be iaculis
                  distracted.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="about-info-box">
                <div class="about-icon">
                  <i class="flaticon-kidney-1"></i>
                </div>
                <h3>Emergency help</h3>
                <p>
                  It is a long established fact that a reader will be iaculis
                  distracted.
                </p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="about-info-box">
                <div class="about-icon">
                  <i class="flaticon-first-aid-kit"></i>
                </div>
                <h3>24/7 hour open</h3>
                <p>
                  It is a long established fact that a reader will be iaculis
                  distracted.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div
          class="about-col wow fadeInRight"
          data-wow-duration="1s"
          data-wow-delay="0s"
        >
          <img src="images/about/1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Separator Start -->
<section class="separator-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        <div class="separator-col">
          <h2>please feel free to contact us</h2>
          <h4><span>Hotline:</span> <span id="bannerShowPhoneNumber"></span></h4>
          <h4>
            <span>Mail Address:</span> <span id="bannerShowEmailAddress"></span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Service Start -->
<section id="products" class="service-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="section-title-col text-center">
          <h2>Our <span>Products</span></h2>
          <p>
            Earum totam eligendi, voluptates error doloribus tempora fugiat
            veritatis nobis, iste eveniet necessitatibus maiores.
          </p>
        </div>
      </div>
    </div>
    <div class="row products"></div>
    <div class="row text-center">
      <div class="text-center">
        <button class="btn btn-default simple-btn">see more</button>
      </div>
    </div>
  </div>
</section>

<!-- Counter Start -->
<section class="counter-area">
  <div class="container">
    <div class="row statictics"></div>
  </div>
</section>

<!-- Appointment Start -->
<section class="appointment-area" id="appointment">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="appointment-col">
          <h2 class="contactUsTitle">Contact us</h2>
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="appointment-col">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your Name"
                    id="name"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="appointment-col">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Phone / email"
                    id="phone"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="appointment-col">
                  <input
                    type="email"
                    class="form-control"
                    placeholder="subject"
                    id="subject"
                  />
                </div>
              </div>

              <div class="col-md-12">
                <div class="appointment-col center1199">
                  <textarea
                    class="form-control"
                    rows="5"
                    placeholder="Message"
                    id="message"
                  ></textarea>
                  <button
                    id="sendMessage"
                    class="btn btn-default simple-btn"
                    type="submit"
                  >
                    Send Now
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div
          class="appointment-col appointment-img wow fadeInRight"
          data-wow-duration="1s"
          data-wow-delay="0s"
        >
          <img src="images/contact.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Doctor Start -->
<section class="doctor-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="section-title-col text-center">
          <h2>Meet Our <span>Team</span></h2>
          <p>
            Earum totam eligendi, voluptates error doloribus tempora fugiat
            veritatis nobis, iste eveniet necessitatibus maiores.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <di id="team" class="doctor-col doctor-carousel">
          <div class="item">
            <div class="our-doctor">
              <div class="pic">
                <img src="images/doctor/shipo.jpg" alt="" />
              </div>
              <div class="team-content">
                <ul class="social-group">
                  <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
                <a class="details-link" href="doctors-details.html">Details</a>
              </div>
            </div>
            <h3><a href="doctors-details.html">Bashar Shipu LB</a></h3>
            <p>Chief Accountant</p>
          </div>
        </di>
      </div>
    </div>
  </div>
</section>

<!-- footer start -->
<%- include('./partials/footer') %>
